*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    
}
.cont-login{
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    border-color: #BDBDBD;
    width: 473.83px;
    height: 634.3px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;/*mientras por mejorar dieño*/
}
.text1{
    color: #333333;
}
.text2{
    color: #828282;
}

.link{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cont-logo{
    display: block;
    align-items: start;
    width: 100%;
}

.input{
    border-style: solid;
    border-color: #BDBDBD;
    border-width: 1px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    /*padding: .5rem;*/
    margin: .05rem 0rem;
    height: 48px;
    margin-bottom: 1rem;
    
}

.mess{
    color: red;
    font-size: 15px;
}

.input-dig{
    width: 85%;
    height: 100%;
    border-style: none;
    margin-left: 0.5rem;
    font-weight: 400;
    font-size: 16px;
}

.material-symbols-outlined{
    margin-left: 0.5rem;
    color: #828282;
}

.button{
    background-color: #2F80ED;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
}

form{
    width: 100%;
    
}

.cont-link{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

.lb:hover{
    cursor: pointer;
    

}

button:hover {
    cursor: pointer;
    border-style: solid;
    

}

.footer{
    display: flex;
    justify-content: space-between;
}
