*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    
}
.cont-login{
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    border-color: #BDBDBD;
    width: 473.83px;
    height: 634.3px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;/*mientras por mejorar dieño*/
}

.link{
    display: flex;
}

.cont-logo{
    display: block;
    align-items: start;
    width: 100%;
}

.input{
    border-style: solid;
    border-color: #BDBDBD;
    border-width: 1px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    /*padding: .5rem;*/
    margin: .05rem 0rem;
    height: 48px;
    
}

.input-dig{
    width: 90%;
    height: 100%;
    border-style: none;
    
}

.material-symbols-outlined{
    margin-left: 0.5rem;
}

.button{
    background-color: #2F80ED;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

form{
    width: 100%;
    
}


/*
.cont-input{
    width: 100%;
    align-items: start;
    border-style: solid;
    border-color: black;
}

*/