*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    
}

a:link, a:visited {
    text-decoration: none;
}

a{
    color: #2F80ED;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    
}
.cont-login{
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    border-color: #BDBDBD;
    width: 473.83px;
    height: 634.3px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;/*mientras por mejorar dieño*/
}
.text1{
    color: #333333;
}
.text2{
    color: #828282;
}

.link{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cont-logo{
    display: block;
    align-items: start;
    width: 100%;
}

.input{
    border-style: solid;
    border-color: #BDBDBD;
    border-width: 1px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    /*padding: .5rem;*/
    margin: .05rem 0rem;
    height: 48px;
    margin-bottom: 1rem;
    
}

.mess{
    color: red;
    font-size: 15px;
}

.input-dig{
    width: 85%;
    height: 100%;
    border-style: none;
    margin-left: 0.5rem;
    font-weight: 400;
    font-size: 16px;
}

.material-symbols-outlined{
    margin-left: 0.5rem;
    color: #828282;
}

.button{
    background-color: #2F80ED;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
}

form{
    width: 100%;
    
}

.cont-link{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
}

.lb:hover{
    cursor: pointer;
    

}


button:hover {
    cursor: pointer;
    border-style: solid;
    

}

.footer{
    display: flex;
    justify-content: space-between;
}

.title-login{
    text-align: left;
    width: 100%;
}

.nav-detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.img-session{
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

/* views show */

.p-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.table-show{
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    border-color: #BDBDBD;
    width: 845.91px;
    height: 634.3px;
    /*
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    */
    gap: 1.5rem;/*mientras por mejorar dieño*/
}



td{
   /*
    border-style: solid;

    border-width: 1px;
    border-radius: 24px;
    border-color: #FFFFFF #FFFFFF #BDBDBD #FFFFFF;
    */
    height: 4rem;
    padding-left: 2rem;
}

.td-p{
    display: flex;
    justify-content: space-between;
}

.image-perfil{
    width: 72px;    
    height: 72px;
    border-radius: 8px;
}

/*views edit*/
.cont-edit{
    border-style: solid;
    border-width: 1px;
    border-radius: 24px;
    border-color: #BDBDBD;
    width: 845.91px;
    height: 827.56px;
    padding: 1.5rem;   
}

.button-photo:hover{
    cursor: pointer;
    color: #2F80ED;
}

.input-edit{
    width:416.93px;
    height: 52px;
    border-color: #828282;
    border-radius: 12px; 
    border-width: 1px;
    padding-left: 1rem;
}

.input-edit-bio{
    width: 416.93px;
    height: 91.58px;
    border-color: #828282;
    border-radius: 12px; 
    border-width: 1px;
    padding-left: 1rem;
}

.label-edit{
    font-weight: 500;
    font-size: 13px;
    color: #4F4F4F;
    height: auto;    
}

.label-edit:hover{
    cursor: pointer;
    color: #2F80ED;
}

.button-save{
    background-color: #2F80ED;
    color: #FFFFFF;
    width: 82px;
    height: 38px;
    border-radius: 8px;
    border-style: none;
}

.back{
    color: #2D9CDB;
    font-size: 18px;
}

.photo-icon{
    position: relative;
    color: white;
    right: 55px;
    bottom: 25px;
}

.change-photo-label{
    position: relative;
    bottom: 25px;
}

.mess{
    position: relative;
    bottom: -20px;
}

.btn-edit{
    position: relative;
    right: -600px;
    bottom: 25px;

    font-size: 16px;
    color: #828282;;
    width: 95.34px; 
    height: 38px; 
    padding: .5rem;
    border-style: solid;
    border-radius: 12px;
    border-width: 1px; 
    border-color: #828282;
}

.logeo{
    
    position:relative;
    width: 188px; 
    height: 174px;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
    border-radius: 12px;


}
